 <head>
	<title>EST Class Hierachy</title>
</head>
<body background="http://www.cstr.ed.ac.uk/images/cstr_background.jpg" 
	bgcolor="#ffffff" link="#0000ff" 
	vlink="#dd0000" text="#000088" alink="9000ff">

<A HREF = "http://www.cstr.ed.ac.uk/">
	<IMG align=left BORDER=0 SRC = "cstr.gif"></A> 
<A HREF="http://www.cstr.ed.ac.uk/projects/speech_tools.html">
	<IMG BORDER=0 ALIGN=right SRC="est.jpg" width=150 height=93></A>
<br>

<h1>
	Edinburgh Speech Tools<br>
	<small><small><b>V1.1.0 August 1998</b></small></small>
</h1>
<br clear=left>
<H1>Hierarchy of Classes</H1>
<UL>

<LI><A HREF="EST_Content_Data.html">EST_Content_Data</A>
<LI><A HREF="EST_Contents.html">EST_Contents</A>
<LI><A HREF="EST_DMatrix.html">EST_DMatrix</A>
<LI><A HREF="EST_Discrete.html">EST_Discrete</A>
<LI><A HREF="EST_DiscreteProbDistribution.html">EST_DiscreteProbDistribution</A>
<LI><A HREF="EST_FMatrix.html">EST_FMatrix</A>
<LI><A HREF="EST_FeatureFunctionPackage.html">EST_FeatureFunctionPackage</A>
<LI><A HREF="EST_FeatureSample.html">EST_FeatureSample</A>
<LI><A HREF="EST_Featured.html">EST_Featured</A><UL>

<LI><A HREF="EST_Track.html">EST_Track</A>
<LI><A HREF="EST_Wave.html">EST_Wave</A><UL>

<LI><A HREF="EST_SingleChannelWave.html">EST_SingleChannelWave</A></UL>
</UL>

<LI><A HREF="EST_Features.html">EST_Features</A>
<LI><A HREF="EST_Handleable.html">EST_Handleable</A><UL>

<LI><A HREF="EST_TBox.html">EST_TBox</A>
<LI><A HREF="EST_TrackMap.html">EST_TrackMap</A></UL>

<LI><A HREF="EST_HashFunctions.html">EST_HashFunctions</A><UL>

<LI><A HREF="EST_THash.html">EST_THash</A><UL>

<LI><A HREF="EST_TStringHash.html">EST_TStringHash</A></UL>
</UL>

<LI><A HREF="EST_Hash_Pair.html">EST_Hash_Pair</A>
<LI><A HREF="EST_IMatrix.html">EST_IMatrix</A>
<LI><A HREF="EST_Item.html">EST_Item</A>
<LI><A HREF="EST_Item_Content.html">EST_Item_Content</A>
<LI><A HREF="EST_Relation.html">EST_Relation</A>
<LI><A HREF="EST_SCFG.html">EST_SCFG</A><UL>

<LI><A HREF="EST_SCFG_traintest.html">EST_SCFG_traintest</A></UL>

<LI><A HREF="EST_SCFG_Chart.html">EST_SCFG_Chart</A>
<LI><A HREF="EST_SCFG_Chart_Edge.html">EST_SCFG_Chart_Edge</A>
<LI><A HREF="EST_SCFG_Rule.html">EST_SCFG_Rule</A>
<LI><A HREF="EST_Server.html">EST_Server</A><UL>

<LI><A HREF="EST_FringeServer.html">EST_FringeServer</A></UL>

<LI><A HREF="EST_ServiceTable.html">EST_ServiceTable</A>
<LI><A HREF="EST_String.html">EST_String</A><UL>

<LI><A HREF="EST_Pathname.html">EST_Pathname</A>
<LI><A HREF="EST_Regex.html">EST_Regex</A></UL>

<LI><A HREF="EST_StringTrie.html">EST_StringTrie</A>
<LI><A HREF="EST_SuffStats.html">EST_SuffStats</A>
<LI><A HREF="EST_TBuffer.html">EST_TBuffer</A>
<LI><A HREF="EST_TDeque.html">EST_TDeque</A>
<LI><A HREF="EST_THandle.html">EST_THandle</A>
<LI><A HREF="EST_TIterator.html">EST_TIterator</A>
<LI><A HREF="EST_TKVI.html">EST_TKVI</A>
<LI><A HREF="EST_TKVL.html">EST_TKVL</A><UL>

<LI><A HREF="EST_Option.html">EST_Option</A></UL>

<LI><A HREF="EST_TList.html">EST_TList</A>
<LI><A HREF="EST_TVector.html">EST_TVector</A><UL>

<LI><A HREF="EST_TMatrix.html">EST_TMatrix</A>
<LI><A HREF="EST_TSimpleVector.html">EST_TSimpleVector</A><UL>

<LI><A HREF="EST_DVector.html">EST_DVector</A>
<LI><A HREF="EST_FVector.html">EST_FVector</A></UL>
</UL>

<LI><A HREF="EST_Token.html">EST_Token</A>
<LI><A HREF="EST_TokenStream.html">EST_TokenStream</A>
<LI><A HREF="EST_TrieNode.html">EST_TrieNode</A>
<LI><A HREF="EST_Utterance.html">EST_Utterance</A>
<LI><A HREF="EST_VTCandidate.html">EST_VTCandidate</A>
<LI><A HREF="EST_VTPath.html">EST_VTPath</A>
<LI><A HREF="EST_VTPoint.html">EST_VTPoint</A>
<LI><A HREF="EST_Val.html">EST_Val</A>
<LI><A HREF="EST_Viterbi_Decoder.html">EST_Viterbi_Decoder</A>
<LI><A HREF="EST_WFST.html">EST_WFST</A>
<LI><A HREF="EST_WFST_MultiState.html">EST_WFST_MultiState</A>
<LI><A HREF="EST_WFST_State.html">EST_WFST_State</A>
<LI><A HREF="EST_WFST_Transition.html">EST_WFST_Transition</A>
<LI><A HREF="EST_Window.html">EST_Window</A>
<LI><A HREF="EST_bracketed_string.html">EST_bracketed_string</A>
<LI><A HREF="Entry.html">EST_ServiceTable::Entry</A>
<LI><A HREF="Safefeatureaccessfunctions..html">Safe feature access functions.</A>
<LI><A HREF="XML_Parser.html">XML_Parser</A>
<LI><A HREF="XML_Parser_Class.html">XML_Parser_Class</A></UL>
<P><I><A HREF="index.html">Alphabetic index</A></I></P><HR>
<A HREF = "http://www.ed.ac.uk/">
   <IMG align=right BORDER=0 SRC = "edcrest.gif"></A>

<P Align=left><I>This page is part of the 
<A HREF="http://www.cstr.ed.ac.uk/projects/speech_tools.html">
Edinburgh Speech Tools Library</A> documentation
<br>
Copyright <A HREF="http://www.ed.ac.uk"> University of Edinburgh</A> 1997
<br>
Contact: <A HREF="mailto:speech_toolss@cstr.ed.ac.uk"> 
         speech_tools@cstr.ed.ac.uk </a>
</P>
<br clear=right>
